*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Bitter', serif;
  font-size: 16px;
  line-height: 28px;
  color: #222;
  font-weight: 400;
  white-space: nowrap;
}

/* Type */

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  line-height: 1.3;
  font-weight: 600;
  font-size: 60px;
  color: #FFF;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 18px;
  margin-top: 36px;
}

blockquote {
  border-left: 5px solid #ddd;
  margin: 40px 1em;
  padding-left: 12px;
  font-style: italic;
  color: #666;
}

@media (max-width: 960px) {
  h1 {
    font-size: 30px;
  }
  header .container ul.meta {
    margin-bottom: 0;
  }
}

/* Header & Article */

header,
article {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow: scroll;
  white-space: normal;
}

.container {
  padding: 100px 50px;
  width: 100%;
}

@media (max-width: 960px) {
  article {
    display: block;
  }
  .container {
    padding: 25px;
  }
}

/* Header */

header {
  position: relative;
  width: 35%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  overflow: hidden;
}

@media (max-width: 960px) {
  header {
    width: 100%;
  }
  header {
    height: auto;
  }
}

header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

header .container {
  padding: 0 50px;
  z-index: 1;
}


@media screen and (min-width: 961px){
  #home-header .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  header .container {
    position: absolute;
    top: 0;
  }
  header .container.post-container {
    padding: 0;
    position: relative;
    height: 100%;
  }

  header .post-container .inner-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    padding: 0 50px;
  }
}

@media screen and (max-width: 960px){
  #home-header .container {
    padding: 100px 50px;
  }

  header .container {
    padding: 80px 0 10px;
  }
  header .container .inner-container {
    padding: 0 50px;
  }
}

header .home_button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 21px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-align: center;
  background-image: url(../images/icon_home.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;
}

header .home_button:hover {
  background: #fff;
  background-image: url(../images/icon_home_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #ce2323;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;
}

header ul.meta {
  margin-top: 45px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px){
  header ul.meta {
    margin-top: 10px;
  }
}

#home-header ul.meta {
  margin-top: 15px;
}

header ul.meta li {
  display: inline-block;
  margin-right: 25px;
  line-height: 30px;
  color: #fff;
}

header ul.meta li span {
  margin-right: 10px;
  font-style: italic;
  color: rgba(255, 255, 255, .5);
}

/* Pagination */

@media screen and (min-width: 961px){
  .pagination {
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;
  }  
}

@media screen and (max-width: 960px){
  .pagination {
    margin-top: 40px;
    padding: 0 10px;
  }  
}

.pagination:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.pagination a {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.pagination a:hover {
  background: #fff;
  color: #ce2323;
}

/* Article */

article {
  width: 65%;
  overflow-x: hidden;
}


article .container {
  padding-top: 80px;
}

@media (max-width: 960px) {
  article {
    width: 100%;
    overflow: visible;
  }
  article .container {
    padding: 25px !important;
  }
}

article p {
  margin-bottom: 1em;
}

article li {
  margin-left: 3em;
  margin-bottom: 9px;
  list-style-type: disc;
}

@media (max-width: 960px) {
  article li {
    margin-left: 0;
  }
}

article a {
  color: #CE2323;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

/* Posts List */

ul.posts li {
  list-style-type: none;
  border-bottom: 1px solid #eeeeee;
}

ul.posts .meta {
  display: block;
  margin-bottom: 16px;
  color: #8d8d8d;
}

ul.posts p {
  margin-bottom: 36px;
}


/* Home Page */

.circletag {
		margin-top: 10px;
    display: block;
    width: 400px;
    height: 400px;
    -moz-border-radius: 205px;
    -webkit-border-radius: 205px;
    background-image: url(../images/self.png);
    background-position:40% 50%;
    background-repeat:no-repeat;
}


.name {
		font-size: 3em;
		color: grey;
}

p {
		text-align: justify;
}

.home_links a {
  color: #CE2323;
  text-decoration: none;
}

.home_links  a:hover {
  text-decoration: underline;
}


/* Code */

pre code {
		display: block;
		padding: 9.5px;
		margin: 0 0 10px;
		font-size: 14px;
		word-break: break-all;
		word-wrap: break-word;
		background-color: #f5f5f5;
		border: 1px solid #ccc;
		border-radius: 4px;
		line-height: 1.4;
}

code {
		padding: 1.5px;
		margin: 0 0 10px;
		font-size: 14px;
		word-break: break-all;
		word-wrap: break-word;
		background-color: #f5f5f5;
		border: 1px solid #ccc;
		border-radius: 4px;
		line-height: 1.4;
}
