---
layout: default
---
<div class="container">

<center>
  <div class="circletag">
  </div>

  <h2 class='name'>Abhilash Raj (maxking)</h2>
  <h2 class="home_links">
    [<a href='/blog/'>blog</a>]
    [<a href='https://www.dropbox.com/s/pqgt2hprz09i5et/Abhilash_Raj_CV_Latest.pdf?dl=0'>
      resume
    </a>]
    [<a href='/about/'>about</a>]
    [<a href='/notes/'>notes</a>]
    [<a href='http://github.com/maxking'>github</a>]
  </h2>

</center>
</div>
