---
name: ethical-hacking
layout: post
title: What is ethical hacking?
time: 2012-01-12 01:27:58.001000 +05:30
tags: hacking
---
<P>Wondering what is ethical hacking? The term hacking has been so much
misinterpreted in common day language that people had to coin a new term called
'ethical hacking', just to be clear that all hackers do not rob-the-bank. So
what does the term hacker actually mean? Simply that i am a curious person who
likes to peep in other's codes or scribble an entirely new one.

<p>Did you ever heard of the term 'ethical barber','ethical librarian',ethical
doctor'? No. But hackers have to go out of their way to ensure others that they
are in fact ethical. If you simply don't have the curiosity then you probably
won't want the life of a hacker. And ethics, those you get from your momma,
anyone else is not gona teach you those.

<p>So put as simple as possible, being ethical is to not to do things which
could harm others. Popularly the cannotation of ethical in ethical hacking is
that person performs his hacking activities within the perview of law.
<p>When i say i am a hacker i don't mean that i want to rob the swiss bank.
