---
layout: default
---

{% if page.minutes %}
  {% assign minutes = page.minutes %}
{% else %}
  {% assign minutes = content | number_of_words | divided_by: 180 %}
  {% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
{% endif %}

<div class="container-fluid single">
  <div class="row">

    <div itemscope itemtype="http://schema.org/Article" class="col-md-12 article">
      {% if site.data.thumbnail[page.thumbnail] %}
      <div class="thumb">
        <img itemprop="image" src="{{ site.data.thumbnail[page.thumbnail] }}" alt="Thumbnail: {{ page.thumbnail }}" />
      </div>
      {% elsif page.thumbnail %}
      <div class="thumb">
        <i class="fa fa-{{ page.thumbnail }} fa-4x"></i>
      </div>
      {% endif %}

      <h1 class="header" itemprop="name">{{ page.title }}</h1>

      <div class="author">
        <small><i>
          by
          <span itemprop="author">
            {% if site.google_plus_link %}
              <a rel="author" href="{{ site.google_plus_link }}">
            {% endif %}
            {% if page.author %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ page.author }}</span>
            </span>
            {% endif %}
            {% if site.google_plus_link %}
              </a>
            {% endif %}
          </span>
          on <span itemprop="datePublished" content="2014-08-28">{{ page.date | date: "%B %-d, %Y" }}</span>
          under {% if page.categories %}{% for category in page.categories limit:1 %}{{ category }}{% endfor %}{% endif %}
        </i></small>
      </div>

      <div class="read-time">
        <small>
          {{ minutes }} minute read
        </small>
      </div>

      <div class="content-panel content">
        <span itemprop="articleBody">{{ content }}</span>

        <div class="tags"><small>
          <i class="fa fa-tags"></i>
            {{ page.tags | join: ', ' }}
        </small></div>

      </div>

      <div class="content-panel feedback">
        I <i class="fa fa-heart"></i> feedback.<br />
        Let me know what you think of this article on twitter <a href="http://www.twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>!
      </div>

      <div class="content-panel related clearfix">
        {% for post in site.related_posts limit:1 %}
        <div class="related-header">
          <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
        </div>
          <div class="title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
          <div class="excerpt">
            {{ post.excerpt | strip_html | truncatewords:30 }}
            <a href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
          </div>
        {% endfor %}
        <hr />
        <div class="previous previous-next">
          {% if page.previous %}
          <p>
            <a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a>
          </p>
          <p class="date">Published {{ page.previous.date | date: "%B %-d, %Y" }}</p>
          {% endif %}
        </div>
        <div class="next previous-next">
          {% if page.next %}
          <p>
            <a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
          </p>
          <p class="date">Published {{ page.next.date | date: "%B %-d, %Y" }}</p>
          {% endif %}
        </div>
      </div>

    </div>

  </div>

</div>
